<%- include('partials/head')  %>
<%- include('partials/navbar')  %>

<section class="container">
    <h1>Poetry Pages </h1>
</section>





<%- include('partials/featured')  %>


</body>
<%- include('partials/footer')  %>

</html>